<div class="tertiary-bg pb-2">
  <div class="container-lg text-center">
    <div class="d-flex justify-content-center align-items-center">
      <a href="https://www.facebook.com">
        <i class="bi bi-facebook big-icon text-white"></i>
      </a>
      <a class="mx-4" href="https://www.facebook.com">
        <i class="bi bi-linkedin big-icon text-white"></i>
      </a>
      <a href="https://www.facebook.com">
        <i class="bi bi-github big-icon text-white"></i>
      </a>
    </div>
    <hr class="mt-5">
    <p class="mt-4 fw-normal text-uppercase secondary-color">Stojanche Krstevski © 2022. All rights reserved.</p>
  </div>
</div>
