<div class="tertiary-bg" id="aboutMe">
  <div class="container-lg py-10">
    <div class="row w-100 m-0">
      <div style="margin-top:10px;" class="col-12 col-lg-6 d-flex flex-column justify-content-start align-items-center">
        <div class="position-relative img-fluid about-me-image-border"
             style="width:380px; height:380px;">
          <img class="img-fluid position-absolute w-100 offset image-of-me"
               src="../../../../../assets/images/me.jpg"/>
        </div>
        <div class="mt-5">
          <app-primary-button text="Download Resume"></app-primary-button>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3 p-md-5 p-lg-0">
        <h2 class="title text-uppercase fw-bold primary-gradient-color-text">About me</h2>
        <p>Hello! I’m Stojanche Krstevski. Web Developer with 1 year of experience. Experienced with all stages of the
          development cycle for dynamic web projects. Having an in-depth knowledge including advanced HTML5, CSS3,
          JavaScript, Bootstrap5, jQuery and Angular JS for the frontend and Spring Boot for the backend. Strong
          background in management and leadership.</p>
        <ul class="profile-menu">
          <li>
            <span class="primary-color text-uppercase">Name: </span>Stojanche Krstevski
          </li>
          <li>
            <span class="primary-color text-uppercase">Date of birth: </span>17 March 2001
          </li>
          <li>
            <span class="primary-color text-uppercase">Nationality: </span>Macedonian
          </li>
          <li>
            <span class="primary-color text-uppercase">Address: </span>Vanco Balamov 77 - s.Prdejci, Gevgelija
          </li>
          <li>
            <span class="primary-color text-uppercase">Phone: </span>+38971435378
          </li>
          <li>
            <span class="primary-color text-uppercase">Email: </span>stojanchekrstevski0@gmail.com
          </li>
        </ul>
      </div>
    </div>
    <div class="pt-10">
      <app-my-interests></app-my-interests>
    </div>
  </div>
</div>
