<div class="position-absolute" style="top:0; right: 0">
  <i class="bi bi-x exit-icon" (click)="onNoClick()"></i>
</div>
<div class="d-flex flex-column container-absolute-position-center justify-content-center align-items-center">
  <a class="my-2 text-white fs-4 text-decoration-none secondary-hover" href="#">Home</a>
  <a class="my-2 text-white fs-4 text-decoration-none secondary-hover" href="#aboutMe">About</a>
  <a class="my-2 text-white fs-4 text-decoration-none secondary-hover" href="#professionalSkills">Professional Skills</a>
  <a class="my-2 text-white fs-4 text-decoration-none secondary-hover" href="#work">Portfolio</a>
  <a class="my-2 text-white fs-4 text-decoration-none secondary-hover" href="#contact">Contact</a>
</div>
