<div class="tertiary-bg" id="professionalSkills">
  <div class="container-lg py-10 text-center">
    <h2 class="text-uppercase title primary-gradient-color-text fw-bold">Professional skills</h2>
    <div class="row">
      <div class="col-12 col-md-6 p-3 text-start">
        <div class="primary-border-bottom fs-5 fw-bold">core</div>
        <div class=" p-3 h-100">
          <div class="d-flex flex-column">
            <app-skill-bar skillText="HTML5" [experienceInYears]="3"></app-skill-bar>
            <app-skill-bar skillText="CSS3" [experienceInYears]="3"></app-skill-bar>
            <app-skill-bar skillText="SQL" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="C#" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="Java" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="Kotlin" [experienceInYears]="1"></app-skill-bar>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-3 text-start">
        <div class="primary-border-bottom fs-5 fw-bold">front end</div>
        <div class="p-3 h-100">
          <div class="d-flex flex-column">
            <app-skill-bar skillText="Angular" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="Typescript" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="RxJS" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="JQuery" [experienceInYears]="1"></app-skill-bar>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-3 text-start mt-3">
        <div class="primary-border-bottom fs-5 fw-bold">miscellaneous</div>
        <div class="p-3 h-100">
          <div class="d-flex flex-column">
            <app-skill-bar skillText="Git" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="Unit Testing" [experienceInYears]="1"></app-skill-bar>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-3 text-start mt-3">
        <div class="primary-border-bottom fs-5 fw-bold">back end</div>
        <div class="p-3 h-100">
          <div class="d-flex flex-column">
            <app-skill-bar skillText="Spring Boot MVC" [experienceInYears]="1"></app-skill-bar>
            <app-skill-bar skillText="ASP.NET MVC" [experienceInYears]="1"></app-skill-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
