<div class="some-of-my-work-image">
  <div class="container-lg">
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-lg-3 p-3">
        <div class="project bg-black" (click)="openDialog()">
          <img src="assets/images/zlatara-ani.png" class="img-fluid w-100"/>
          <div class="test position-absolute bottom-0 start-0 ms-1">
            <h5 class="fw-bold text-black text-uppercase">Zlatara Ani</h5>
            <p class="text-black text-uppercase">Eshop web application</p>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-6 col-lg-3 p-3">
        <div class="project bg-black">
          <img src="assets/images/lumberjacks.png" class="img-fluid w-100" />
          <div class="test position-absolute bottom-0 start-0 ms-1">
            <h5 class="fw-bold text-black text-uppercase">Lumberjacks United Terror And Fire 3D</h5>
            <p class="text-black text-uppercase">3D Mobile Game</p>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-6 col-lg-3 p-3">
        <div class="project bg-black">
          <img src="assets/images/TacticalKingdomLogo.jpg" class="img-fluid w-100" />
          <div class="test position-absolute bottom-0 start-0 ms-1">
            <h5 class="fw-bold text-black text-uppercase">Tactical Kingdom</h5>
            <p class="text-black text-uppercase">2D Mobile Game</p>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
