<div class="text-center">
  <h2 class="text-uppercase primary-gradient-color-text fw-bold">My interests</h2>
  <div class="row w-100 mt-4 justify-content-start justify-content-lg-center d-flex">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-airplane" text="Travel"></app-hobby>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-cup-hot" text="Coffee"></app-hobby>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-music-note-list" text="Music"></app-hobby>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-controller" text="Gaming"></app-hobby>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-bicycle" text="Bicycle"></app-hobby>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
      <app-hobby bootstrapIconClass="bi-tree" text="Nature"></app-hobby>
    </div>
  </div>
</div>

