<div class="tertiary-bg pt-10 pb-5">
  <div class="container-lg">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-4 px-0 pt-4 order-2 order-md-1">
        <div class="p-5 quaternary-bg-color">
          <h1 class="text-black fw-bold">02.</h1>
          <h4 class="secondary-color fw-bold text-uppercase">Web development</h4>
          <p>Website development is a way to make people aware of the services and products you are offering,
            understand why your products are relevant and even necessary for them to buy or use.</p>
        </div>
      </div>
      <div class="col-12 col-md-4 px-0 order-1 order-md-2">
        <div class="p-5 secondary-bg">
          <h1 class="text-black fw-bold">01.</h1>
          <h4 class="fw-bold text-uppercase">UI/UX</h4>
          <p>User interface is important to meet user expectations and support the effective
            functionality of your site.
            A well-executed user interface facilitates effective interaction between the user and the program, app or
            machine through contrasting visuals, clean design and responsiveness.</p>
        </div>
      </div>
      <div class="col-12 col-md-4 px-0 pt-4 order-3">
        <div class="p-5 quaternary-bg-color">
          <h1 class="text-black fw-bold">03.</h1>
          <h4 class="secondary-color fw-bold text-uppercase">Maintain</h4>
          <p>In order to make sure that your website is achieving its purpose, web maintenance is essential. Website
            maintenance includes tasks like monitoring web traffic, updating content, and ensuring that the website is
            secure.</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-10" id="work">
      <h2 class="text-uppercase primary-gradient-color-text title">Some of my work</h2>
    </div>
  </div>
</div>
